---
layout: default
title: Home
order: 1
show: hyde
---




<!--img style="max-height:100px; position: relative; float:right; top: 50%; border:solid 0.05em;transform: translateY(-60%); margin-left:15px !important; border-radius: 0px;" src="../assets/dachille2.jpeg"-->
<h3>Welcome to my personal webpage.</h3>


<img style="max-height:125px; position: relative; float:right; top: 50%; border:solid 0.05em;transform: translateY(-60%); margin-left:15px !important; border-radius: 50%;" src="../assets/dachille2.jpeg">

<br/>

<h3>In short</h3>


<p style="text-align:justify;">Since 1.09.2022 I am postdoctoral fellow at the <a href="https://www.imo.universite-paris-saclay.fr/fr/" target="_blank">Laboratoire de Mathématiques d’Orsay, UMR CNRS 8628</a> in université Paris-Saclay, hosted by <a href="https://www.imo.universite-paris-saclay.fr/~curien/" target="_blank">Nicolas Curien</a> and <a href="https://www.imo.universite-paris-saclay.fr/~enriquez/" target="_blank">Nathanaël Enriquez</a>.
</p>

<p style="text-align:justify;">From 1.10.2020 to 31.08.2022 I have been a postdoctoral research
and teaching assistant (full time ATER) at <a href="https://lama.u-pem.fr/" target="_blank">Laboratoire d’Analyse et de Mathématiques Appliquées, UMR CNRS 8050</a> in université Paris-Est Créteil, hosted by <a href="https://perso.math.u-pem.fr/le_ny.arnaud/" target="_blank">Arnaud Le Ny</a>.
</p>

<p style="text-align:justify;">
I defended my PhD thesis on Friday 16.10.2020 at the <a href="https://www.universite-paris-saclay.fr/" target="_blank">université Paris-Saclay</a> under the co-direction of <a href="https://ieeexplore.ieee.org/author/37281894200" target="_blank">William Jalby</a>, <a href="https://www.college-de-france.fr/site/en-cirb/rivoire.htm" target="_blank">Olivier Rivoire</a> and <a href="https://lipn.univ-paris13.fr/~sportiello/index_eng.html" target="_blank">Andrea Sportiello</a>.<br/>
 During my PhD I have been associated member at <a href="https://lipn.univ-paris13.fr/" target="_blank">Laboratoire d'Informatique de Paris Nord, UMR CNRS 7030</a> in université Sorbonne Paris Nord.
 <br/>
Further details on my PhD thesis are available <a href="/publications#phd-thesis">here</a>.
</p>
<br/>
<!--
<p style="text-align:justify;">
See <a href="/scientific-interests">here</a> for scientific interests.
</p>


<br/>
-->
<h3>Contacts</h3>
<div>
  <div class="imgContainer">
       <a href="https://www.imo.universite-paris-saclay.fr/en/" target="_blank">
         <img src="../assets/Orsay2.jpg" style=" border-radius: 2px; margin-top : 10px; padding-right: 30px;" height="50" width="100%"/>
       </a>
  </div>
<div class="imgContainer">
    <a href="https://www.universite-paris-saclay.fr/en" target="_blank">
      <img class="right-img" src="../assets/logoupsaclay.png" style="margin-top : 0px; padding-right: 10px;" height="60" width="100%"/>
    </a>

</div>
  <div class="imgContainer">
      <a href="https://www.cnrs.fr/en" target="_blank">
        <img src="../assets/CNRS_logo2.png" style=" padding-left: 8px;margin-top : 8px;" height="60" width="100%"/>
      </a>
  </div>
  </div>
<p> &nbsp; </p>
<br />

<h4>Email</h4>
matteo"\ldot"dachille"chiocciola"universite-paris-saclay"\ldot"fr

<h4>Telephone number</h4>
 (+33) 01 69 15 68 38



<h4>Postal address</h4>
 Bâtiment 307, rue Michel Magat <br />
Faculté des Sciences d’Orsay, Université Paris-Saclay <br />
Bureau 3I20 <br/>
F-91405 Orsay Cedex

<br />

<br />


<!--
<div class="posts">
  {% for post in paginator.posts %}
  <div class="post">
    <h1 class="post-title">
      <a href="{{ post.url }}">
        {{ post.title }}
      </a>
    </h1>

  <p class="post-meta"><span class="post-date"><i class="fa fa-clock-o fa-fw" aria-hidden="true"></i>{{ post.date | date: "%A %-d %B %Y" }} • {{ post.content | number_of_words }} words</span>{% if post.tags %}
  {% for tag in post.tags %}
    <a href="{{ site.baseurl }}{{ site.tag_page }}#{{ tag | slugify }}" class="post-tag">{{ tag }}</a>
  {% endfor %}<br />
  {% endif %}</p>

    {{ post.excerpt }}

  </div>
	<div class="read-more"><h3><a href="{{ post.url }}">Read more &rarr; </a></h3><br /></div>
  {% endfor %}
</div>
{% if paginator.total_pages > 1 %}
<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ site.baseurl }}page{{paginator.next_page}}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ site.baseurl }}">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="{{ site.baseurl }}page{{paginator.previous_page}}">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>
{% endif %}
-->
