---
layout: default
title: Home
order: 1
show: hyde
---




<!--img style="max-height:100px; position: relative; float:right; top: 50%; border:solid 0.05em;transform: translateY(-60%); margin-left:15px !important; border-radius: 0px;" src="../assets/dachille2.jpeg"-->
<!--<i>Welcome to my personal webpage</i>.
-->

<img style="max-height:140px; position: relative; float:right; top: 50%; border:solid 0.05em;transform: translateY(22%); margin-right:75px !important; margin-left:25px !important;important;border-radius: 1%;" src="../assets/dachille4.jpeg">

<h3>About me</h3>


<p style="text-align:justify;">Postdoctoral researcher at the <a href="https://www.imo.universite-paris-saclay.fr/fr/" target="_blank">Laboratoire de Mathématiques d’Orsay</a> and member of the ERC Grant "SuPerGRandMa", PI <a href="https://www.imo.universite-paris-saclay.fr/~nicolas.curien/" target="_blank">Nicolas Curien</a>. See <a href="/cv">CV</a> for more. <br/> <br/>

My research interests lie in probability, mainly in random geometry, statistical mechanics and random combinatorial optimization problems.<br/>
<p style="font-size:11pt;"><u>Keywords</u>: ideal Poisson-Voronoi tessellations, massive spanning forests, Gibbs measures/specifications, (Euclidean) random assignment problems and extensions. See <a href="/publications">publications</a> for more and <a href="/gallery">gallery</a> for an introduction by visuals.</p>
</p>

<!--
<h3>News</h3>

<p style="font-size:13pt;">With Luca Ganassali we propose a Master 1 'TER' research subject for Orsay students. <br/> Subject (in French): <a href="/downloads/TER_M1_2025.pdf" target="_blank"><i class="fa fa-file-pdf-o" aria-hidden="true"></i></a>, application deadline (by email): <u>end of February 2025</u></p>
-->
<h3>Forthcoming/recent talks</h3>

 <!--
   24.06.2025 &#x2023; YEP XX, Eindhoven, NL ([link](){:target="_blank"})<br/>

   -->
   <!--
   Title: _TBA_
   {: style="margin-left: 110px; margin-bottom:20px;" }-->
   <p style="font-size:13pt;">
     <!--
   12.12.2024 &#x2023; Séminaire de Proba. et Math. Fi., LaMME, Evry, FR (<a href="http://www.math-evry.cnrs.fr/evenements/seminaireproba-math-fi#:~:text=jeudi%2012%20d%C3%A9cembre%20%C3%A0%2015h15" target="_blank">link</a>)<br/>
-->
<!--
   17.01 &#x2023; Les Probas du vendredi, LPSM, Sorbonne Université, Paris, FR (<a href=" https://www.lpsm.paris/seminaires/probasduvendredi/index#:~:text=Vendredi%2017%20janvier%202025" target="_blank">link</a>)<br/>
   27.01 &#x2023; MathNet Seminar, INRIA-ENS, Paris, FR (<a href="https://team.inria.fr/mathnet/calendar/782/#:~:text=Seminar%3A%20Matteo%20D%27achille" target="_blank">link</a>)<br/>
   29.01 &#x2023; Conférence annuelle du GDR branchement, Orsay, FR (<a href="https://indico.math.cnrs.fr/event/12161/program" target="_blank">link</a>)<br/>
   11.02 &#x2023; <a style="color: red; font-weight: bold;font-size: 13px;">[Postponed]</a> Séminaire du CERMICS, École des Ponts, FR (<a href="#" target="_blank">link</a>)<br/>
   14.02 &#x2023; <a style="color: red; font-weight: bold;font-size: 13px;">[Postponed]</a> Colloque de Géométrie, LAMA, Créteil, FR (<a href="https://fanoni.perso.math.cnrs.fr/colloque.html#:~:text=f%C3%A9vrier%202025%20%3A-,Matteo%20D%27Achille,-(Salle%20P1%20018" target="_blank">link</a>)<br/>
   03.04 &#x2023; <a style="color: red; font-weight: bold;font-size: 13px;">[Postponed]</a> Applied Mathematics Seminar, Utrecht University, NL (<a href="https://utrechtgeometrycentre.nl/calendar/#:~:text=Applied%20mathematics%20seminar%20Matteo%20d%27Achille%20(U%20Paris%20Saclay)" target="_blank">link</a>)<br/>-->
   07.04 &#x2023; <a style="color: red; font-weight: bold;font-size: 13px;">[Converted to online]</a> WORDS 2025, Groningen, NL (<a href="https://sites.google.com/rug.nl/words2025/abstracts?authuser=0#h.ta5e0ax9c9pc" target="_blank">link</a>)<br/>
   <!--Title: _TBA_
   {: style="margin-left: 110px; margin-bottom:20px;" }-->

   20.06 &#x2023; Rencontres de Mathématiques de l'université de Rouen, FR (<a href="https://rmr2025.sciencesconf.org/resource/page/id/1#:~:text=***-,Matteo%20D%27Achille,-For%C3%AAts%20massiques%20%3A%20distribution" target="_blank">link</a>)<br/>
   22-26.09 &#x2023; YCMN autumn school: Probability and dynamics on groups, Münster, DE (<a href="https://www.uni-muenster.de/MathematicsMuenster/events/2025/probdyn-on-groups.shtml" target="_blank">link</a>)<br/>
   07.10 &#x2023; Séminaire du CERMICS, École des Ponts, FR (<a href="#" target="_blank">link</a>)<br/>
   10-14.11 &#x2023; Kirchhoff forests on graphs: recent developments, CIRM Luminy, FR (<a href="#" target="_blank">link</a>)<br/>

   <!--Title: _TBA_
   {: style="margin-left: 110px; margin-bottom:20px;" }-->


   </p>

<!--
<h3>Upcoming/latest invitations</h3>

<p style="font-size:13pt;">
&#x2023; <a style="color: red; font-weight: bold;font-size: 13px;">[Postponed]</a> 04.02 to 08.02.2025 &#x2023; Utrecht University, NL <br/>
&#x2023; <a style="color: red; font-weight: bold;font-size: 13px;">[Postponed]</a> 30.03 to 06.04.2025 &#x2023; Utrecht University, NL</p>
-->
<h3>Imminent event(s)</h3>
<p style="font-size:13pt;">
<!--&#x2023; 16.10 <i>Les Probabilités de Demain</i>: <a href="https://indico.math.cnrs.fr/event/12710/" target="_blank">Transport optimal et applications</a>, IHP, Paris  <br/>--><!--
&#x2023; 07.05 <i>Les Probabilités de Demain</i>: <a href="https://indico.math.cnrs.fr/e/ndpe" target="_blank">Modèles stochastiques en dynamique des populations et génétique</a>, IHP, Paris <br/>-->
&#x2023; June-July: <i>Seed Seminar</i>: <a href="https://seedseminar.apps.math.cnrs.fr/program/#first" target="_blank">Summer trimester "Spin systems and phases of matter"</a>, IHES<br/>
</p>

<h3>Contacts</h3>

<i class="fa fa-envelope" aria-hidden="true"></i> &nbsp; matteo.dachille<i class="fa fa-at" style="vertical-align: middle;"></i>universite-paris-saclay.fr <br/>
<a href="https://www.leparisien.fr/high-tech/luniversite-de-paris-saclay-visee-par-une-cyberattaque-par-rancongiciel-12-08-2024-MRWV6N2S6ZDN5CIHR4VY5PZEDY.php" target="_blank" style="color: red; font-weight: bold;font-size: 13px;"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> The address above was nonfunctional starting 11/08/2024 due to a cyber attack at the Paris-Saclay University. <br/>Although it is now working, please consider that I have lost access to all past conversations.</a>

<br/>
<br/>

<i class="fa fa-phone" aria-hidden="true"></i> &nbsp;  (+33) 01 69 15 68 38 <br/>



<!--
<h4>Postal address</h4>
 Bâtiment 307, rue Michel Magat <br />
Faculté des Sciences d’Orsay, Université Paris-Saclay <br />
Bureau 3I20 <br/>
F-91405 Orsay Cedex
-->

<br />

<br />

<div>
  <div class="imgContainer">
       <a href="https://www.imo.universite-paris-saclay.fr/~nicolas.curien/ERC.html" target="_blank">
         <img src="../assets/SuperGrandLogo.jpeg" style=" border-radius: 2px; margin-top : 10px; padding-right: 27px;" height="50" width="100%"/>
       </a>
  </div>
  <div class="imgContainer">
       <a href="https://www.imo.universite-paris-saclay.fr/~nicolas.curien/ERC.html" target="_blank">
         <img src="../assets/ERC_logo.png" style=" border-radius: 2px; margin-top : 10px; padding-right: 27px;" height="60" width="100%"/>
       </a>
  </div>
  <div class="imgContainer">
       <a href="https://www.imo.universite-paris-saclay.fr/en/" target="_blank">
         <img src="../assets/Orsay2.jpg" style=" border-radius: 2px; margin-top : 10px; padding-right: 15px;" height="50" width="100%"/>
       </a>
  </div>
  <div class="imgContainer">
      <a href="https://www.cnrs.fr/en" target="_blank">
        <img src="../assets/CNRS_logo2.png" style=" padding-left: 0px;margin-top : 8px;" height="60" width="100%"/>
      </a>
  </div>
  <div class="imgContainer">
      <a href="https://www.universite-paris-saclay.fr/en" target="_blank">
        <img src="../assets/logoupsaclay2.png" style="margin-top : 0px; padding-left: 10px; border-radius: 0px;" height="55" width="100%"/>
      </a>
  </div>
  </div>
<p> &nbsp; </p>
<br />



<!--
<div class="posts">
  {% for post in paginator.posts %}
  <div class="post">
    <h1 class="post-title">
      <a href="{{ post.url }}">
        {{ post.title }}
      </a>
    </h1>

  <p class="post-meta"><span class="post-date"><i class="fa fa-clock-o fa-fw" aria-hidden="true"></i>{{ post.date | date: "%A %-d %B %Y" }} • {{ post.content | number_of_words }} words</span>{% if post.tags %}
  {% for tag in post.tags %}
    <a href="{{ site.baseurl }}{{ site.tag_page }}#{{ tag | slugify }}" class="post-tag">{{ tag }}</a>
  {% endfor %}<br />
  {% endif %}</p>

    {{ post.excerpt }}

  </div>
	<div class="read-more"><h3><a href="{{ post.url }}">Read more &rarr; </a></h3><br /></div>
  {% endfor %}
</div>
{% if paginator.total_pages > 1 %}
<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ site.baseurl }}page{{paginator.next_page}}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ site.baseurl }}">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="{{ site.baseurl }}page{{paginator.previous_page}}">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>
{% endif %}
-->
