---
layout: default
---
<article class="course">

  {% if page.picture %}
    <img src="{{ page.picture }}" alt="Photo of a {{ page.title | downcase }}">
  {% endif %}

  <h1>{{ page.title }}</h1>

  {% if page.professor%}
  <div class="course-class {{ page.professor | downcase }}">
    Responsible(s): {{ page.professor }}
    </div>
  {% endif %}

  {% if page.studtype%}

<div class="course-class {{ page.studtype | downcase}}">
   {{ page.level }} class for {{ page.studtype }} at {{ page.etab }}
    </div>
{% endif %}

<br/>

<div class="course-class {{ page.year | downcase }}">
  Academic year: {{ page.year }}
</div>
<div class="course-semester {{ page.semester | downcase }}">
  Semester: {{ page.semester }}
</div>
<div class="course-lang {{ page.lang | downcase }}">
  Language: {{ page.lang }}
</div>

    {% if page.team%}

  <div class="course-class {{ page.professor | downcase}}">
      Pedagogical Team (responsible in <b>bold</b>): {{ page.team }}
      </div>
  {% endif %}



  <!--div class="course-nstuds {{ page.nostudents | downcase }}">
    N. of students (avg): {{ page.nostudents }}
  </div-->

  <div>
    {{ content }}
  </div>

</article>
